[submodule "index-sources/botocore"]
	path = index-sources/botocore
	url = https://github.com/boto/botocore.git
[submodule "index-sources/aws-cli"]
	path = index-sources/aws-cli
	url = https://github.com/aws/aws-cli
[submodule "index-sources/cfn-lint"]
	path = index-sources/cfn-lint
	url = https://github.com/aws-cloudformation/cfn-lint
