* {
    font-family: sans-serif;
}

body {
    margin: auto;
    width: 768px;
    font-size: medium;
}

body.popup {
    overflow-x: hidden;
    width: 450px;
    font-size: small;
    padding: 5px;
}

code {
    font-family: 'Courier New', Courier, monospace;
    padding: 0 5px 0 5px;
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
}

header {
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 100px;
}

header h1 {
    margin: 0;
}

section {
    counter-reset: changes;
}

section.affiliation {
    font-size: 70%;
}

h3::before {
    counter-increment: changes;
    content: counter(changes) ". ";
}

table {
    font-size: 100%;
    border-collapse: collapse;
}

article table {
    width: 100%;
}

table td {
    border-bottom: 1px solid darkgrey;
    border-right: 1px solid darkgrey;
    padding: 2px;
}

table thead {
    font-weight: bold;
}

table thead td {
    border-bottom: 2px solid black;
}

table tbody tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

input#updateFrequencySecondsInput {
    max-width: 80px;
}

.update {
    transition: 0.7s ease all;
}
.update.updating {
    color: lightgray;
}
.update.error {
    color: red;
}

/* Tooltip styling retrieved from https://www.w3schools.com/howto/howto_css_tooltip.asp */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip.clickable {
    cursor: pointer;
}

.tooltip .text {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .text {
    visibility: visible;
    opacity: 1;
}

.tooltip .text code {
    padding: 0;
    font-size: 50%;
    background-color: unset;
    border-radius: 0;
}
